@import "colors";
@import "typography";

* {
    font-family: $paragraph-font;
    font-size: $default-font-size;
    margin: 0;
}

html, body {
    background: $cream;
    height: 100%;
}

#root {
    display: grid;
    grid-template: 1fr / 2fr;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.container {
    width: 600px;
    padding: 0;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    background: $white;
    border-radius: 10px;
}


aside {
    border-radius: 10px 0 0 10px;
    background: url('../images/image-product-desktop.jpg') no-repeat;
    background-size: contain;
    filter: brightness(95%);
}

#product {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0 auto;
    padding: 40px 20px;
    background: $white;
    border-radius: 10px;
    
    .category {
        text-transform: uppercase;
        letter-spacing: .35em;
        font-size: 80%;
        color: $dark-cyan;
    }

    h1 {
        font-size: 30px;
        font-weight: $font-bold;
        font-family: $header-font;
        padding-right: 30px;
        line-height: 1em;
        color: $very-dark-blue;
    }

    .description {
        color: $dark-cyan;
        padding-right: 30px;
    }

    .pricing_info {
        display: grid;
        grid-template: 1fr / 60% 40%;
        align-items: center;
        color: $dark-cyan;

        h2.price {
            font-size: 32px;
            font-family: $header-font;
        }

        p.orig_price {
            text-decoration: line-through;
        }
    }

    button {
        border-radius: 10px;
        border: none;
        padding: 15px 0;
        background: $dark-cyan;
        color: $white;
        font-weight: $font-medium;
        cursor: pointer;

        &:hover,
        &:active {
            background: $very-dark-blue;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;

    .attribution { 
        font-size: 11px; 
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width: 415px) {
    #root {
        margin: 10px;
        grid-template: 2fr/1fr;
        align-items: flex-start;
    }

    .container {
        width: 100%;
        grid-template: 30% 70%/1fr;
        box-shadow: none;
        background: none;
        height: 100%;
    }

    aside {
        border-radius: 10px 10px 0 0;
        &#image {
            background-image: url('../images/image-product-mobile.jpg');
            background-size: cover;
            background-position: 50% 0;
        }
    }

    #product {
        gap: 20px;
        height: fit-content;
        border-radius: 0 0 10px 10px;

        h1 {
            padding-right: 50px;
        }

        .description {
            padding-right: 50px;
        }

        .pricing_info {
            grid-template-columns: 45% 55%;
        }
    }

    footer {
        font-size: 12px;
        z-index: 1;

        a {
            font-size: 12px;
        }
    }
}