@import "colors";
@import "typography";

* {
    font-family: $default-font-family;
    font-size: $default-font-size;
    margin: 0;
}

html, body {
    background: $light-grey;
    color: $grayish-blue;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    background-color: $white;
    padding: 20px 20px 40px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    img {
        border-radius: 10px;
        width: 100%;
    }

    h1 {
        font-size: $default-header-font-weight;
        font-size: 24px;
        color: $dark-blue;
    }

    p {
        padding: 0 20px;
    }
}


footer {
    position: absolute;
    bottom: 0;

    .attribution { 
        font-size: 11px; 
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}