<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div id="container" class="h-100 d-flex align-items-center"></div>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
  </body>
</html>