@import "colors";
@import "typography";

* {
    font-family: $default-font-family;
    font-size: $default-font-size;
    margin: 0;
}

html, body {
    background: $very-dark-blue;
    color: $light-grey;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    #form,
    #thankyou {
        width: 350px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $dark-blue;
        border-radius: 30px;
        gap: 20px;
    }

    h1 {
        color: $white;
        font-size: 28px;
        font-weight: $default-header-font-weight;
        margin-top: 10px;
    }

    #form {
        img.star {
            width: 17px;
            border-radius: 50%;
            padding: 15px;
            background-color: $medium-grey-alpha;
        }

        p {
            margin-right: 20px;
            line-height: 1.6em
        }

        ul {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            
            li {
                display: flex;
                list-style-type: none;
                justify-content: center;
                align-items: center;
                margin: 0px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                background-color: $medium-grey-alpha;
                font-weight: $default-header-font-weight;
                cursor: pointer;

                &.selected {
                    background-color: $light-grey;
                    color: $white;
                }

                &:hover,
                &:active {
                    background-color: $orange;
                    color: $white;
                }
            }
        }

        button {
            background-color: $orange;
            color: $white;
            border-radius: 30px;
            padding: 15px;
            text-transform: uppercase;
            letter-spacing: .15em;
            margin-top: 10px;
            border: none;
            font-weight: $default-header-font-weight;
            cursor: pointer;

            &:hover,
            &:active {
                background-color: $white;
                color: $orange;
            }
        }
    }

    #thankyou {
        padding: 50px 30px;
        align-items: center;

        img#thankyouimage {
            width: 162px;
        }

        p {
            margin: 0 5px;
            text-align: center;

            &.rating {
                background-color: $medium-grey-alpha;
                padding: 7px 30px;
                color: $orange;
                border-radius: 30px;
            }
        }
    }
}


footer {
    position: absolute;
    bottom: 0;

    .attribution { 
        font-size: 11px; 
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width: 415px) {
    .container {
        #form,
        #thankyou {
            width: 310px;
            padding: 20px;
            border-radius: 15px;
        }

        #thankyou {
            padding: 40px 20px;
        }
    }

    footer {
        font-size: 12px;
        z-index: 1;

        a {
            font-size: 12px;
        }
    }
}