:root {
    --font-medium: 500;
    --font-bold: 700;
    --font-extra-bold: 800;

    /* Colors */
    --light-red-alpha: hsla(0, 100%, 67%, 0.05);
    --orange-yellow-alpha: hsla(39, 100%, 56%, 0.05);
    --green-teal-alpha: hsla(166, 100%, 37%, 0.05);
    --cobalt-blue-alpha: hsla(234, 85%, 45%, 0.05);
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavendar: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --dark-gray-blue-alpha: hsl(224, 30%, 27%, 0.5);
}

* {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    margin: 0;
}

html, body {
    background: var(--white);
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    width: 800px;
    padding: 0;
    display: grid;
    grid-template: 1fr / 400px 400px;
    background: var(--white);
    border-radius: 40px;
    box-shadow:  (15px 15px 20px 5px var(--cobalt-blue-alpha));
}


aside {
    border-radius: 40px;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    font-weight: var(--font-medium);
    color:var(--light-lavendar);
    justify-content: space-around;
    gap: 30px;

    h1 {
        font-size: 24px;
    }

    h2 {
        color: var(--pale-blue);
        font-size: 36px;
    }

    p:last-child {
        text-align: center;
        margin: 0;
        padding: 0 50px;
    }

    #score {
        background: linear-gradient(var(--violet-blue), var(--persian-blue));
        border-radius: 50%;
        padding: 50px;
        margin: 0;
        text-align: center;
        height: 100px;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        span {
            font-weight: var(--font-extra-bold);
            font-size: 64px;
            color: var(--white);
            display: block;
        }
    }
}

#summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--dark-gray-blue);
    width: 80%;
    margin: 0 auto;
    padding: 50px 20px;
    
    h3 {
        font-size: 24px;
    }

    ul {
        width: 100%;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 15px 0;

        li {
            display: flex;
            border-radius: 10px;
            padding: 20px 10px;
            gap: 10px;
            font-weight: var(--font-bold);

            &#reaction {
                .category {
                    color: var(--light-red);
                }
                background: var(--light-red-alpha);
            }

            &#memory {
                .category {
                    color: var(--orange-yellow);
                }
                background: var(--orange-yellow-alpha);
            }

            &#verbal {
                .category {
                    color: var(--green-teal);
                }
                background: var(--green-teal-alpha);
            }

            &#visual {
                .category {
                    color: var(--cobalt-blue);
                }
                background: var(--cobalt-blue-alpha);
            }

            .results {
                margin-left: auto;
                color: var(--dark-gray-blue-alpha);

                .score {
                    color: var(--dark-gray-blue);
                }
            }
        }
    }

    button {
        border-radius: 40px;
        border: none;
        padding: 15px 0;
        background: var(--dark-gray-blue);
        color: var(--pale-blue);
        font-weight: var(--font-medium);
        cursor: pointer;

        &:hover,
        &:active {
            background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
        }
    }
}

footer {
    position: absolute;
    bottom: 0;

    .attribution { 
        font-size: 11px; 
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width: 415px) {
    * {
        font-size: 16px;
    }

    #root {
        justify-content: flex-start;
        height: 100%;
    }

    .container {
        width: 100%;
        grid-template: 45% 55%/1fr;
        border-radius: 0;
        box-shadow: none;
    }

    aside {
        padding: 30px 0;
        gap: 15px;
        border-radius: 0 0 40px 40px;

        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 24px;
        }
    
        #score {
            padding: 20px;
            
            span {
                font-size: 48px;
            }
        }

        p:last-child {
            padding: 0 30px;
        }
    }

    #summary {
        padding: 20px 0;
        gap: 5px;
        height: fit-content;

        h3 {
            font-size: 18px;
        }

        ul {
            margin: 10px 0;

            li {
                padding: 15px 10px;
            }
        }
    }

    footer {
        font-size: 12px;
        z-index: 1;

        a {
            font-size: 12px;
        }
    }
}