#share .arrow::before {
    border-top-color: hsl(217, 19%, 35%);
}

#share .tooltip-inner {
    background-color: hsl(217, 19%, 35%);
    text-transform: uppercase;
    color: hsl(212, 23%, 69%);
    padding: 13px 25px;
    text-align: justify;
    border-radius: 8px;
    display: flex;
    align-items: center;
    max-width: inherit;
}

#share .tooltip-inner span {
    letter-spacing: .3em;
}

#share .tooltip-inner svg {
    margin-left: 15px;
}

#share .tooltip-inner svg:first-child {
    margin-left: 20px;
}