#byline.clicked {
    background-color: hsl(217, 19%, 35%);
}

#byline.clicked span {
    color: hsl(212, 23%, 69%);
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: .4em;
}

#byline.clicked svg {
    margin-left: 20px;
}

#byline.clicked svg:first-child {
    margin-left: 25px;
}

#byline.clicked .share a {
    background-color: hsl(214, 17%, 51%);
}

#byline.clicked .share svg path {
    fill: hsl(210, 46%, 95%);
}
