body,html {
    background-color: hsl(210, 46%, 95%);
    height: 100%;
    font-family: 'Manrope';
    font-size: 13px;
    color: hsl(217, 19%, 35%);
}

h4 {
    font-weight: 700;
}

#content {
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem hsla(217, 19%, 35%,.15);
}

.avatar img {
    height: 40px;
    width: 40px;
}

#byline .details .author {
    font-weight: 700;
}

#byline .details .date {
    color: hsl(212, 23%, 69%);
}

#byline .share a {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
}

#byline .share a:hover {
    background-color: hsl(214, 17%, 51%)
}

#byline .share a:hover svg path {
    fill: #fff;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
